*{
    background-color: white;
}

.juegoBoogle{
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.gridBoogle{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
.item {
    flex: 1 0 25%; /* Hace que cada botón ocupe el 25% del ancho del contenedor (4 botones por fila) */
    box-sizing: border-box;
    padding: 5px;
}